



<div class="modal fade " id="myModal_batch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">增加节点</h4></div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label  class="col-sm-2 control-label">集群名:</label>
            <div class="col-sm-8">
              <input class="form-control " id="disabledInput" type="text" placeholder="该输入框禁止输入..." disabled></div>
          </div>
          <fieldset disabled>
            <div class="form-group">
              <label class="col-sm-2 control-label">父节点名:</label>
              <div class="col-sm-8">
                <input class="form-control " id="add_node_name"  type="text" value="" disabled></div>
            </div>
          </fieldset>
        </form>

<div class=" table-responsive   ">
  <table class="table  table-condensed table-bordered">
    <thead>
      <tr>
        <th>序号</th>
        <th>键名</th>
        <th>键值</th>
    </thead>
    <tbody>
	{% for i in range(1,6) %}
      <tr>
        <td>{{i}}</td>
        <td><input type="text" name="firstname"></td>
        <td><input type="text" name="firstname"></td>
      </tr>
	{% end %}
    </tbody>
  </table>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="value_post">提交</button></div>
    </div>
 </div>
</div>

