<div class="modal fade " id="check_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">节点值</h4></div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <a id="display_value"></a>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
