{% extends "base.html" %}
{% block body %}

   <link href="/static/css/zTreeStyle.css" rel="stylesheet">
   <script src="/static/js/jquery.ztree.core.min.js"></script>



<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">配置查询</h3></div>
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="form-group has-success">
          <label class="col-sm-1 control-label text-right" for="inputSuccess">集群名称:</label>
          <div class="col-sm-2">
            <div class="form-group">
              <select class="form-control input-sm" id="select_list">
	{% for name in all_cluster_name %}
                <option value="">{{name.cluster_name}}</option>
	{% end %}
              </select>
            </div>
          </div>
          <label class="col-sm-1 control-label text-right" for="inputSuccess">节点路劲:</label>
          <div class="col-sm-4">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="默认输入" id="node_path"></div>
          </div>
          <div>
            <button type="button" class="btn btn-primary" id="node_search">
              <span class="glyphicon glyphicon-search"></span>查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="panel panel-default col-sm-5">
    <div class="panel-heading">
      <h3 class="panel-title">节点详情</h3></div>
    <div class="panel-body">
      <div class="content_wrap">
        <ul id="treeDemo" class="ztree"></ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-sm-7">
    <div class="panel-heading">
      <h3 class="panel-title">节点展示</h3></div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered  table-hover .table-condensed  ">
          <tbody>
            <tr>
              <td>
                <form class="form-horizontal" role="form">
                  <fieldset disabled>
                    <div class="form-group">
                      <label for="disabledTextInput" class="col-sm-2 control-label">集群名称</label>
                      <div class="col-sm-10">
                        <input type="text" id="disabledTextInput" class="form-control  input-sm" placeholder="禁止输入"></div>
                    </div>
                    <div class="form-group">
                      <label for="disabledTextInput" class="col-sm-2 control-label">节点路径</label>
                      <div class="col-sm-10">
                        <input type="text" id="zk_tree" class="form-control  input-sm" value="禁止输入"></div>
                    </div>
                    <div class="form-group">
                      <label for="disabledTextInput" class="col-sm-2 control-label">节点名称</label>
                      <div class="col-sm-10">
                        <input type="text" id="zk_name" class="form-control   input-sm" value="禁止输入"></div>
                    </div>
                </form>
              </td>
            </tr>
            <tr>
              <td><label for="disabledTextInput" class="col-sm-2 control-label">CRUD操作</label> 
                <div class="btn-group  ">
                  <button type="button" class="btn btn-success" id="value_info" >查看</button>
                  <button type="button" class="btn btn-warning" id="value_change">修改</button>
                  <button type="button" class="btn btn-danger"  id="value_add">新增</button>
                  <button type="button" class="btn btn-info" id="delete_btn">删除</button></div>
              </td>
            </tr>
            <tr>
              <td><label  class="col-sm-2 control-label">批量操作</label>
                <div class="btn-group  ">
                  <button type="button" class="btn btn-danger" id="batch_xiugai">批量增改</button></div>
              </td>
            </tr>
            <tr>
              <td><label for="disabledTextInput" class="col-sm-2 control-label">快照操作</label>
                <div class="btn-group  ">
                  <button type="button" class="btn btn-danger" id="check_snapshot">查看快照</button>
                  <button type="button" class="btn btn-success" id="make_snapshot">生成快照</button>
                  <button type="button" class="btn btn-danger" id="batch_snapshot">批量生成快照</button></div>
              </td>
            </tr>
            <tr>
              <td><label for="disabledTextInput" class="col-sm-2 control-label">反馈操作</label>
                <div class="btn-group  ">
                  <button type="button" class="btn btn-info" id="sync_case">同步状况</button>
                  <button type="button" class="btn btn-success" id="import">导出</button></div>
              </td>
            </tr>
            <tr>
              <td><label for="disabledTextInput" class="col-sm-2 control-label">地狱门</label>
                <div class="btn-group  ">
                  <button type="button" class="btn btn-danger" id="batch_delete" >批量删除</button></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





{% include change.html %}
{% include add_node.html %}
{% include batch_add.html %}
{% include check.html %}
{%end%}
