{% extends "base.html" %}
{% block body %}


zk_page.html


<button class="btn btn-primary btn-lg" data-toggle="modal" 
   data-target="#snapshot_myModal_info">
   开始演示模态框
</button>

<!-- 模态框（Modal） -->
<div class="modal fade" id="snapshot_myModal_info" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body">
            <table class="table table-striped table-bordered table-condensed ">
   <caption>条纹表格布局</caption>
   <thead>
      <tr>
         <th>快照路劲</th>
         <th>快照生成时间</th>
         <th>快照状态</th>
                  <th>快照值</th>
                  <th>操作</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
                  <td>560001</td>
                  <td>560001</td>
      </tr>

   </tbody>
</table>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

{%end%}
