{% extends "base.html" %}
{% block body %}

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="modfi_host">
      <span class="glyphicon glyphicon-pencil"></span>修改</button>
    <button type="button" class="btn btn-success" id="add_host">
      <span class="glyphicon glyphicon-plus"></span>新增</button>
    <button type="button" class="btn btn-info" id="delete_host">
      <span class="glyphicon glyphicon-minus"></span>删除</button>
    <button type="button" class="btn btn-warning" id="status_zk">
      <span class="glyphicon glyphicon-asterisk"></span>状态查看</button>
  </div>
</div>
<table class="table table-bordered table-striped table-bordered table-condensed" id="table">
  <thead>
    <tr>
      <th>集群名称</th>
      <th>集群配置</th>
      <th>集群业务</th>
      <th>用户</th>
      <th>操作</th></tr>
  </thead>
  <tbody>
{% for host in all_zk_hosts %}
    <tr>
      <td>{{host.cluster_name}}</td>
      <td>{{host.hosts}}</td>
      <td>{{host.business}}</td>
      <td>{{host.users}}</td>
      <td>
        <label class="checkbox-inline">
	  <input type="radio" name="aa"  value="" checked> </label>
      </td>
    </tr>
{% end %}
  </tbody>
</table>


{% include hosts/add_host.html %}
{% include hosts/modfiy_host.html  %}


{%end%}
